<div class="action {{request.method}}">

    <!-- Invitation -->
    <div class="actionInvitation {{request.method}}">
        <a href="/reference/equipment/equipment/get-points-defined-by-an-equipment-instance" class="actionInvitationRow">
            <div class="actionTag {{request.method}}"></div>

            <!-- Name -->
            <h4 class="actionName">
                {{name}}
            </h4>
            <!-- /Name -->

            <!-- Icon -->
            <div class="actionInvitationIcon"></div>
            <!-- /Icon -->

        </a>
    </div>
    <!-- Invitation -->

    <!-- Relation -->
    <!-- /Relation -->

    <!-- Parameters -->
    <div class="row actionParameters hidden"></div>
    <!-- /Parameters -->

    <!-- Authentication -->

    <!-- /Authentication -->

    <!-- Description -->
    <div class="actionDescription markdown formalTheme">
        <p>{{request.description}}</p>
    </div>
    <!-- /Description -->

</div>